<!-- <footer class="text-gray-400 bg-theme-blue body-font">
    <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-bold text-white tracking-widest text-xl mb-3">Contact Us:</h2>
                <nav class="list-none mb-10">
                    <li>
                        <strong class="text-gray-200"> Website: </strong>
                        <a href="www.digitalwavetech.com"
                            class="text-gray-400 hover:text-white">www.digitalwavetech.com</a>
                    </li>
                    <li>
                        <strong class="text-gray-200"> Email: </strong>
                        <a href="mailto:info@digitalwavetech.com"
                            class="text-gray-400 hover:text-white">info&#64;digitalwavetech.com</a>
                    </li>
                    <li>
                        <strong class="text-gray-200"> Phone: </strong>
                        <a href="tel: +15559876543" class="text-gray-400 hover:text-white">+1 (555) 987-6543</a>
                    </li>
                    <li>
                        <strong class="text-gray-200"> Address: </strong>
                        <a class="text-gray-400 hover:text-white"> 202 Innovation Drive, Suite 500, Tech City, CA
                            90005</a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
</footer> -->

<footer>
  <div class="row">
    <div class="col">
      <a href="#" onclick="reload()" class="company-logo"></a>
      <img src="../../assets/LOGO.svg" class="logo" />
      <p>
        Streaming businesses, maximizing operational value, and delivering
        essential services, for seamleass growth and success
      </p>
    </div>
    <div class="col">
      <h3>
        Office
        <div class="underline"><span></span></div>
      </h3>
      <p>
        Office No. 1, Ketan Kunj Building 2nd Hasnabad Lane Santacruz West,
        Mumbai 400054
      </p>
      <p class="Email-id">
        <a href="mailto:Shafaq.alvi@staunchconsultancy.com"
          >Shafaq.alvi&#64;staunchconsultancy.com</a
        >
      </p>
      <p><a href="tel:918451828440">+91-8451828440</a></p>
    </div>
    <div class="col">
      <h3>
        Links
        <div class="underline"><span></span></div>
      </h3>
      <ul>
        <li class="hover-link nav-item" id="" onclick="reload()">Home</li>
        <li class="hover-link nav-item" id="" onclick="reload()">Services</li>
        <li class="hover-link nav-item" id="" onclick="reload()">About Us</li>
        <li class="hover-link nav-item" id="" onclick="reload()">Contact Us</li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="col">
      <h3>
        Newsletter
        <div class="underline"><span></span></div>
      </h3>
      <form>
        <i class="bi bi-envelope"></i>
        <input type="email" placeholder="Enter your email-id" required />
        <button type="submit"><i class="bi bi-arrow-right"></i></button>
      </form>
    </div>
  </div>
  <hr />
  <p class="copyright">
    Copyright &copy; 2024 Indian Company For Business Support Services
  </p>
</footer>
