<footer>
  <div class="row">
    <div class="col">
      <a href="#" onclick="reload()" class="company-logo"></a>
      <img src="../../assets/LOGO.svg" class="logo" />
      <p>
        Streaming businesses, maximizing operational value, and delivering
        essential services, for seamleass growth and success
      </p>
    </div>
    <div class="col">
      <h3>
        Head Office
        <div class="underline"><span></span></div>
      </h3>
      <p>
        Office No. 1, Ketan Kunj Building 2nd Hasnabad Lane Santacruz West,
        Mumbai 400054
      </p>
      <p class="Email-id">
        <a href="mailto:info@staunchconsultancy.com"
          >info&#64;staunchconsultancy.com</a
        >
      </p>
      <p><a href="tel:918451828440">+91-8451828440</a></p>
    </div>
    <div class="col">
      <h3>
        Links
        <div class="underline"><span></span></div>
      </h3>
      <ul>
        <li class="hover-link nav-item" id="" onclick="reload()">Home</li>
        <li class="hover-link nav-item" id="" onclick="reload()">Services</li>
        <li class="hover-link nav-item" id="" onclick="reload()">About Us</li>
        <li class="hover-link nav-item" id="" onclick="reload()">Contact Us</li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="col">
      <h3>
        Newsletter
        <div class="underline"><span></span></div>
      </h3>
      <form>
        <i class="bi bi-envelope"></i>
        <input type="email" placeholder="Enter your email-id" required />
        <button type="submit"><i class="bi bi-arrow-right"></i></button>
      </form>
    </div>
  </div>
  <hr />
  <p class="copyright">
    Copyright &copy; 2024 staunch Consultancy
  </p>
</footer>
