<footer class="text-gray-400 bg-theme-blue body-font">
    <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-bold text-white tracking-widest text-xl mb-3">Contact Us:</h2>
                <nav class="list-none mb-10">
                    <li>
                        <strong class="text-gray-200"> Website: </strong>
                        <a href="www.digitalwavetech.com"
                            class="text-gray-400 hover:text-white">www.digitalwavetech.com</a>
                    </li>
                    <li>
                        <strong class="text-gray-200"> Email: </strong>
                        <a href="mailto:info@digitalwavetech.com"
                            class="text-gray-400 hover:text-white">info&#64;digitalwavetech.com</a>
                    </li>
                    <li>
                        <strong class="text-gray-200"> Phone: </strong>
                        <a href="tel: +15559876543" class="text-gray-400 hover:text-white">+1 (555) 987-6543</a>
                    </li>
                    <li>
                        <strong class="text-gray-200"> Address: </strong>
                        <a class="text-gray-400 hover:text-white"> 202 Innovation Drive, Suite 500, Tech City, CA
                            90005</a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
</footer>