<div
      class="flex justify-center items-center w-full h-screen mt"
      style="background-color: #ecf2fb"
    >
      <div class="flex space-x-16 max-w-4xl w-full justify-center">
        <!-- First div with image background -->
        <div
          class="w-1/2 bg-cover bg-center bg-no-repeat rounded-3xl drop-shadow-2xl p-24"
          style="background-image: url('../../assets/contact.jpg')"
        >
          <!-- Add content here if necessary -->
        </div>

        <!-- Second div with form -->
        <div class="w-1/2 bg-white text-black p-10 rounded-3xl shadow-lg">
          <h1 class="text-2xl text-blue-500 font-semibold mb-3">
            Drop Us A Message
          </h1>
          <p class="w-4/5 pb-5">
            Get in touch with us, and one of our consultants will contact you.
          </p>
          <input
            type="text"
            placeholder="Name"
            class="border border-gray-400 rounded p-1 w-11/12 mb-3"
          />
          <input
            type="text"
            placeholder="Email"
            class="border border-gray-400 rounded p-1 w-11/12 mb-3"
          />
          <input
            type="text"
            placeholder="Phone"
            class="border border-gray-400 rounded p-1 w-11/12 mb-3"
          />
          <input
            type="text"
            placeholder="Country"
            class="border border-gray-400 rounded p-1 w-11/12 mb-3"
          />
          <input
            type="text"
            placeholder="Company Name"
            class="border border-gray-400 rounded p-1 w-11/12 mb-3"
          />
          <textarea
            name=""
            id=""
            placeholder="Add your comment..."
            class="border border-gray-400 p-2 w-11/12 mb-3 rounded h-20 outline-none resize-none"
          ></textarea>
          <button
            type="submit"
            class="w-11/12 bg-blue-500 text-white p-1 rounded-md hover:bg-blue-600 transition-colors"
          >
            Send
          </button>
        </div>
      </div>
    </div>