<section class="hero-slider bg-white">
  <!-- Navbar stays fixed -->
  <app-navbar class="z-10"></app-navbar>

  <!-- Slider content -->
  <div
    class="relative flex flex-col items-center justify-center h-[500px] overflow-hidden"
  >
    <div
      class="slide-container flex transition-transform duration-500 ease-in-out"
      [style.transform]="getSlideTransform()"
    >
      <div
        *ngFor="let slide of slides; let i = index"
        class="slide flex-shrink-0 w-full flex flex-col items-center justify-center bg-cover bg-center h-[500px]"
        [style.backgroundImage]="'url(' + slide.backgroundImage + ')'"
      >
        <!-- Blur effect overlay -->
        <div class="absolute inset-0 bg-black opacity-70 h-full"></div>

        <div
          class="container relative h-full flex flex-col text-center items-center justify-center"
        >
          <h1 class="text-2xl max-w-xl mb-4 text-white">
            {{ slide.title }}
          </h1>
          <p class="mb-12 max-w-md text-white">
            {{ slide.description }}
          </p>
          <div>
            <button
              class="px-5 py-3 text-[#13315C] bg-[#F4CA4B] rounded-lg mx-2"
            >
              Get Started
            </button>
            <button class="px-5 py-3 text-[#13315C] bg-white rounded-lg mx-2">
              Our Services
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation arrows -->
    <div class="absolute left-0 top-1/2 transform -translate-y-1/2 px-4">
      <button (click)="previousSlide()">
        <img src="assets/prevArrow.png" alt="Previous" class="w-4" />
      </button>
    </div>
    <div class="absolute right-0 top-1/2 transform -translate-y-1/2 px-4">
      <button (click)="nextSlide()">
        <img src="assets/nextArrow.png" alt="Next" class="w-4" />
      </button>
    </div>

    <!-- Slide indicators -->
    <div class="absolute bottom-4 flex space-x-2">
      <span
        *ngFor="let slide of slides; let i = index"
        class="w-3 h-3 rounded-full cursor-pointer"
        [ngClass]="{
          'bg-white': i === currentSlide,
          'bg-gray-400': i !== currentSlide
        }"
        (click)="setSlide(i)"
      ></span>
    </div>
  </div>
</section>
