<section>
    <div class="container h-dvh flex flex-col text-center items-center justify-center">
        <h1 class="text-2xl max-w-xl mb-4">Bridging technology and business with expert IT services and innovative
            digital
            solutions
        </h1>
        <p class="mb-12 max-w-md">Our values define Staunch Consulting Solution, guiding us in delivering
            excellence,
            innovation,
            and trust in
            every IT solution.</p>
        <div>
            <button class=" px-5 py-3 text-[#13315C] bg-[#F4CA4B] rounded-lg mr-5">Get Started</button>
            <button>Our Solutions</button>
        </div>
    </div>
</section>