<section id="services" class="bg-white mt-10 p-10">
  <div class="flex flex-col items-center">
    <h1 class="text-2xl sm:text-3xl text-blue-950 font-bold mb-4 text-center">
      Our Services
    </h1>
    <!-- Line below the heading -->
    <div class="w-32 h-1 bg-blue-950 mb-4"></div>
  </div>

  <div
    class="container w-[100%] mx-auto flex flex-col justify-center items-center lg:w-full gap-6"
  >
    <!-- service 1 -->
    <div id="staffing-and-resource-augmentation"
      class="flex justify-center align-center flex-col w-full gap-[10px] h-501 bg-[#ECF2FB] py-8 px-5 shadow-lg hover:shadow-[10px_10px_20px_rgba(0,0,0,0.25)] transition-shadow duration-300"
    >
      <div class="mb-4">
        <img src="./../../assets/Strategy.png" alt="" />
      </div>
      <h3 class="text-[#13315C] text-lg font-semibold mb-2">
        Staffing & Resource Augmentation
      </h3>
      <hr class="mb-4 weight-700 h-1 bg-black" />
      <p class="text-black">
        Committed to delivering highly qualified IT and engineering professionals with its focus on quality, relationship building and great experience for both our clients and our consultants by providing a personalized approach.
      </p>
      <!-- <div class="flex justify-end">
        <img
          src="../../assets/Arrow.svg"
          alt="Arrow Icon"
          class="w-[30px] h-[15px]"
        />
      </div> -->
      <div
        class="flex flex-row gap-6 flex-wrap justify-start items-center mt-4"
      >
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Permanent Staffing</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Contract Staffing</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Executive Search</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Recruitment Process Outsourcing (RPO)</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center"
        >
          <h4 class="text-white">Talent Management</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Managed Hr Services</h4>
        </div>
      </div>
    </div>

    <div id="software-development"
      class="flex justify-center align-center flex-col w-full gap-[10px] h-501 bg-[#ECF2FB] py-8 px-5 shadow-lg hover:shadow-[10px_10px_20px_rgba(0,0,0,0.25)] transition-shadow duration-300"
    >
      <div class="mb-4">
        <img src="./../../assets/Strategy.png" alt="" />
      </div>
      <h3 class="text-[#13315C] text-lg font-semibold mb-2">
        Software Development
      </h3>
      <hr class="mb-4 weight-700 h-1 bg-black" />
      <p class="text-black">
        Specializing in custom software development, 
        we partner with clients across various industries to create tailor-made applications,
        platforms, and systems that meet specific business requirements
      </p>
      <!-- <div class="flex justify-end">
        <img
          src="../../assets/Arrow.svg"
          alt="Arrow Icon"
          class="w-[30px] h-[15px]"
        />
      </div> -->
      <div
        class="flex flex-row gap-6 flex-wrap justify-start items-center mt-4"
      >
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Custom Software Development</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Application Development</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">System Integration</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Mobile Solutions</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center"
        >
          <h4 class="text-white">Web Development</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Cloud Solutions</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">DevOps Services</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">UI/UX Design</h4>
        </div>
      </div>
    </div>

    <div id="support-and-maintenance"
      class="flex justify-center align-center flex-col w-full gap-[10px] h-501 bg-[#ECF2FB] py-8 px-5 shadow-lg hover:shadow-[10px_10px_20px_rgba(0,0,0,0.25)] transition-shadow duration-300"
    >
      <div class="mb-4">
        <img src="./../../assets/Strategy.png" alt="" />
      </div>
      <h3 class="text-[#13315C] text-lg font-semibold mb-2">
        Support & Maintenance
      </h3>
      <hr class="mb-4 weight-700 h-1 bg-black" />
      <p class="text-black">
        We provide unparalleled IT support and maintenance services that enhance productivity, reduce risk, and ensure continuous technological innovation
      </p>
      <!-- <div class="flex justify-end">
        <img
          src="../../assets/Arrow.svg"
          alt="Arrow Icon"
          class="w-[30px] h-[15px]"
        />
      </div> -->
      <div
        class="flex flex-row gap-6 flex-wrap justify-start items-center mt-4"
      >
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Application Support</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Server Support</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Infrastructure Support</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Cloud & Virtualization Support</h4>
        </div>
      </div>
    </div>

    <div id="quality-assurance-and-testing"
      class="flex justify-center align-center flex-col w-full gap-[10px] h-501 bg-[#ECF2FB] py-8 px-5 shadow-lg hover:shadow-[10px_10px_20px_rgba(0,0,0,0.25)] transition-shadow duration-300"
    >
      <div class="mb-4">
        <img src="./../../assets/Strategy.png" alt="" />
      </div>
      <h3 class="text-[#13315C] text-lg font-semibold mb-2">
        Quality Assurance and Testing
      </h3>
      <hr class="mb-4 weight-700 h-1 bg-black" />
      <p class="text-black">
        Our expertise in QA and consulting allows organizations to deliver high-quality software products, reduce time-to-market, and enhance customer satisfaction.
      </p>
      <!-- <div class="flex justify-end">
        <img
          src="../../assets/Arrow.svg"
          alt="Arrow Icon"
          class="w-[30px] h-[15px]"
        />
      </div> -->
      <div
        class="flex flex-row gap-6 flex-wrap justify-start items-center mt-4"
      >
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Functional and Regression Testing</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center"
        >
          <h4 class="text-white">Performance and Security Testing</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Automated Testing Solutions</h4>
        </div>
      </div>
    </div>

    <div id="strategic-consulting-and-advisory"
      class="flex justify-center align-center flex-col w-full gap-[10px] h-501 bg-[#ECF2FB] py-8 px-5 shadow-lg hover:shadow-[10px_10px_20px_rgba(0,0,0,0.25)] transition-shadow duration-300"
    >
      <div class="mb-4">
        <img src="./../../assets/Strategy.png" alt="" />
      </div>
      <h3 class="text-[#13315C] text-lg font-semibold mb-2">
        Strategic Consulting & Advisory
      </h3>
      <hr class="mb-4 weight-700 h-1 bg-black" />
      <p class="text-black">
        Our team of seasoned consultants brings a wealth of knowledge and experience to every engagement, ensuring that we provide clients with the most effective strategies to meet their goals in today's rapidly evolving marketplace
      </p>
      <!-- <div class="flex justify-end">
        <img
          src="../../assets/Arrow.svg"
          alt="Arrow Icon"
          class="w-[30px] h-[15px]"
        />
      </div> -->
      <div
        class="flex flex-row gap-6 flex-wrap justify-start items-center mt-4"
      >
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Digital Strategy & Consulting</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Digital Customer Experience</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Automation & Process Optimization</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Infrastructure Advisory</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center"
        >
          <h4 class="text-white">Cybersecurity & Compliance</h4>
        </div>
      </div>
    </div>

    <div id="industry-4-0-services"
      class="flex justify-center align-center flex-col w-full gap-[10px] h-501 bg-[#ECF2FB] py-8 px-5 shadow-lg hover:shadow-[10px_10px_20px_rgba(0,0,0,0.25)] transition-shadow duration-300"
    >
      <div class="mb-4">
        <img src="./../../assets/Strategy.png" alt="" />
      </div>
      <h3 class="text-[#13315C] text-lg font-semibold mb-2">
        Industry 4.0 Services
      </h3>
      <hr class="mb-4 weight-700 h-1 bg-black" />
      <p class="text-black">
        We empower businesses to harness the power of technology to drive innovation, improve operational efficiency, and deliver outstanding customer experiences by creating customized digital strategies and implementing cutting-edge technologies.
      </p>
      <!-- <div class="flex justify-end">
        <img
          src="../../assets/Arrow.svg"
          alt="Arrow Icon"
          class="w-[30px] h-[15px]"
        />
      </div> -->
      <div
        class="flex flex-row gap-6 flex-wrap justify-start items-center mt-4"
      >
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Digital Transformation Strategy</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">IoT Solutions</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">AI and Machine Learning</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Cloud Computing</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center"
        >
          <h4 class="text-white">Data Analytics & Insights</h4>
        </div>
      </div>
    </div>

    <div id="agile-transformation-consulting"
      class="flex justify-center align-center flex-col w-full gap-[10px] h-501 bg-[#ECF2FB] py-8 px-5 shadow-lg hover:shadow-[10px_10px_20px_rgba(0,0,0,0.25)] transition-shadow duration-300"
    >
      <div class="mb-4">
        <img src="./../../assets/Strategy.png" alt="" />
      </div>
      <h3 class="text-[#13315C] text-lg font-semibold mb-2">
        Agile Transformation Consulting
      </h3>
      <hr class="mb-4 weight-700 h-1 bg-black" />
      <p class="text-black">
        We empower businesses to navigate complexity, accelerate delivery, and achieve sustainable growth through tailored Agile practices and solutions.
      </p>
      <!-- <div class="flex justify-end">
        <img
          src="../../assets/Arrow.svg"
          alt="Arrow Icon"
          class="w-[30px] h-[15px]"
        />
      </div> -->
      <div
        class="flex flex-row gap-6 flex-wrap justify-start items-center mt-4"
      >
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Agile Readiness Assessment</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Process Optimization and Improvement</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Strategy and Roadmap Development</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Team and Leadership Coaching</h4>
        </div>
      </div>
    </div>

    <div id="business-processing-outsourcing"
      class="flex justify-center align-center flex-col w-full gap-[10px] h-501 bg-[#ECF2FB] py-8 px-5 shadow-lg hover:shadow-[10px_10px_20px_rgba(0,0,0,0.25)] transition-shadow duration-300"
    >
      <div class="mb-4">
        <img src="./../../assets/Strategy.png" alt="" />
      </div>
      <h3 class="text-[#13315C] text-lg font-semibold mb-2">
        Business Process Outsourcing (BPO)
      </h3>
      <hr class="mb-4 weight-700 h-1 bg-black" />
      <p class="text-black">
        We offer comprehensive and tailored solutions to businesses seeking to optimize their operations, reduce costs, and enhance efficiency.
      </p>
      <!-- <div class="flex justify-end">
        <img
          src="../../assets/Arrow.svg"
          alt="Arrow Icon"
          class="w-[30px] h-[15px]"
        />
      </div> -->
      <div
        class="flex flex-row gap-6 flex-wrap justify-start items-center mt-4"
      >
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Customer Support and Help Desk</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Data Processing and Management</h4>
        </div>
        <div
          class="w-full sm:w-full md:w-full lg:w-[200px] h-auto rounded-md bg-[#1da1f2] p-[10px] text-center self-center"
        >
          <h4 class="text-white">Back-office Operations</h4>
        </div>
      </div>
    </div>
  </div>
</section>
