<section class="p-8 bg-white">
    <div
        class="container mx-auto h-max w-max grid justify-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <div class="w-72 h-96 bg-[#ECF2FB] py-8 px-5 shadow-lg">
            <div class="flex mb-4">
                <img src="./../../assets/Strategy.png" alt="">
            </div>
            <h3 class="text-[#13315C] text-lg font-semibold mb-2">Strategic Consulting & Advisory</h3>
            <hr class="mb-4 weight-700">
            <p class="text-black">Provide a range of essential business services including Company Incorporation,
                Nominee Directorship,
                Corporate Immigration, Government Relations Management, and Consular and Legalization.</p>
        </div>

        <div class="w-72 h-96 bg-[#ECF2FB] p-8 shadow-lg">
            <div class="flex mb-4">
                <img src="./../../assets/Industry.png" alt="">
            </div>
            <h3 class="text-[#13315C] text-lg font-semibold mb-2">Industry 4.0 Services</h3>
            <hr class="mb-4 text-black">
            <p class="text-black">Provide a range of essential business services including Company Incorporation,
                Nominee Directorship,
                Corporate Immigration, Government Relations Management, and Consular and Legalization.</p>
        </div>

        <div class="w-72 h-96 bg-[#ECF2FB] p-8 shadow-lg">
            <div class="flex mb-4">
                <img src="./../../assets/Development.png" alt="">
            </div>
            <h3 class="text-[#13315C] text-lg font-semibold mb-2">Software Development</h3>
            <hr class="mb-4">
            <p class="text-black">Provide a range of essential business services including Company Incorporation,
                Nominee Directorship,
                Corporate Immigration, Government Relations Management, and Consular and Legalization.</p>
        </div>

        <div class="w-72 h-96 bg-[#ECF2FB] p-8 shadow-lg">
            <div class="flex mb-4">
                <img src="./../../assets/Support.png" alt="">
            </div>
            <h3 class="text-[#13315C] text-lg font-semibold mb-2">Support & Maintenance</h3>
            <hr class="mb-4">
            <p class="text-black">Provide a range of essential business services including Company Incorporation,
                Nominee Directorship,
                Corporate Immigration, Government Relations Management, and Consular and Legalization.</p>
        </div>

        <div class="w-72 h-96 bg-[#ECF2FB] p-8 shadow-lg">
            <div class="flex mb-4">
                <img src="./../../assets/Corporate-Services.png" alt="">
            </div>
            <h3 class="text-[#13315C] text-lg font-semibold mb-2">Staffing</h3>
            <hr class="mb-4">
            <p class="text-black">Provide a range of essential business services including Company Incorporation,
                Nominee Directorship,
                Corporate Immigration, Government Relations Management, and Consular and Legalization.</p>
        </div>

        <div class="w-72 h-96 bg-[#ECF2FB] p-8 shadow-lg">
            <div class="flex mb-4">
                <img src="./../../assets/Management.png" alt="">
            </div>
            <h3 class="text-[#13315C] text-lg font-semibold mb-2">Managed HR Services</h3>
            <hr class="mb-4">
            <p class="text-black">Provide a range of essential business services including Company Incorporation,
                Nominee Directorship,
                Corporate Immigration, Government Relations Management, and Consular and Legalization.</p>
        </div>
    </div>
</section>