<section class="bg-[#ECF2FB] p-8 ">
    <div class="container mx-auto h-max w-max text-center flex flex-col">
        <h3 class="text-2xl font-bold text-[#13315C] my-3">Industries We Serve</h3>
        <p class="text-[#616670]">Our portfolio of corporate brands cover a diversified range of activities,
            spanning
            across industries and markets.</p>

        <div class="grid grid-cols-4 md:grid-cols-2 lg:grid-cols-4 gap-x-10 gap-y-6 place-center my-8">
            <div class="flex flex-col place-items-center">
                <img src="./../../assets/Banking.svg" class="h-32 w-36 p-8 bg-[#13315C] rounded-3xl mb-2">
                <span class="text-#[13315C] font-semibold">Banking</span>
            </div>
            <div class="flex flex-col place-items-center">
                <img src="./../../assets/Healthcare.svg" class="h-32 w-36 p-8 bg-[#13315C] rounded-3xl mb-2">
                <span class="text-#[13315C] font-semibold">Healthcare</span>
            </div>
            <div class="flex flex-col place-items-center">
                <img src="./../../assets/Retail.svg" class="h-32 w-36 p-8 bg-[#13315C] rounded-3xl mb-2">
                <span class="text-#[13315C] font-semibold">Retail</span>
            </div>
            <div class="flex flex-col place-items-center">
                <img src="./../../assets/Manufacturing.svg" class="h-32 w-36 p-8 bg-[#13315C] rounded-3xl mb-2">
                <span class="text-#[13315C] font-semibold">Manufacturing</span>
            </div>
            <div class="flex flex-col place-items-center">
                <img src="./../../assets/Telecommunications.svg" class="h-32 w-36 p-8 bg-[#13315C] rounded-3xl mb-2">
                <span class="text-#[13315C] font-semibold">Telecommunications</span>
            </div>
            <div class="flex flex-col place-items-center">
                <img src="./../../assets/Gas.svg" class="h-32 w-36 p-8 bg-[#13315C] rounded-3xl mb-2">
                <span class="text-#[13315C] font-semibold">Gas</span>
            </div>
            <div class="flex flex-col place-items-center">
                <img src="./../../assets/Government.svg" class="h-32 w-36 p-8 bg-[#13315C] rounded-3xl mb-2">
                <span class="text-#[13315C] font-semibold">Government</span>
            </div>
            <div class="flex flex-col place-items-center">
                <img src="./../../assets/Travel.svg" class="h-32 w-36 p-8 bg-[#13315C] rounded-3xl mb-2">
                <span class="text-#[13315C] font-semibold">Travel</span>
            </div>
        </div>

    </div>
</section>