<section class="p-8">
  <div class="container mx-auto h-max w-full text-center flex flex-col">
    <h3 class="text-2xl font-bold text-[#13315C] my-3">Industries We Serve</h3>
    <p class="text-[#616670] mb-8">
      Our portfolio of corporate brands covers a diversified range of
      activities, spanning across industries and markets.
    </p>

    <!-- Adjust grid for responsiveness -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-4 place-items-center"
    >
      <div class="flex flex-col place-items-center">
        <img
          src="./../../assets/Banking.svg"
          class="h-24 w-24 p-4 bg-[#13315C] rounded-3xl mb-2"
          alt="Banking"
        />
        <span class="text-[#13315C] font-semibold">Banking</span>
      </div>
      <div class="flex flex-col place-items-center">
        <img
          src="./../../assets/Healthcare.svg"
          class="h-24 w-24 p-4 bg-[#13315C] rounded-3xl mb-2"
          alt="Healthcare"
        />
        <span class="text-[#13315C] font-semibold">Healthcare</span>
      </div>
      <div class="flex flex-col place-items-center">
        <img
          src="./../../assets/Retail.svg"
          class="h-24 w-24 p-4 bg-[#13315C] rounded-3xl mb-2"
          alt="Retail"
        />
        <span class="text-[#13315C] font-semibold">Retail</span>
      </div>
      <div class="flex flex-col place-items-center">
        <img
          src="./../../assets/Manufacturing.svg"
          class="h-24 w-24 p-4 bg-[#13315C] rounded-3xl mb-2"
          alt="Manufacturing"
        />
        <span class="text-[#13315C] font-semibold">Manufacturing</span>
      </div>
      <div class="flex flex-col place-items-center">
        <img
          src="./../../assets/Telecommunications.svg"
          class="h-24 w-24 p-4 bg-[#13315C] rounded-3xl mb-2"
          alt="Telecommunications"
        />
        <span class="text-[#13315C] font-semibold">Telecommunications</span>
      </div>
      <div class="flex flex-col place-items-center">
        <img
          src="./../../assets/Gas.svg"
          class="h-24 w-24 p-4 bg-[#13315C] rounded-3xl mb-2"
          alt="Gas"
        />
        <span class="text-[#13315C] font-semibold">Oil & Gas</span>
      </div>
      <div class="flex flex-col place-items-center">
        <img
          src="./../../assets/Government.svg"
          class="h-24 w-24 p-4 bg-[#13315C] rounded-3xl mb-2"
          alt="Government"
        />
        <span class="text-[#13315C] font-semibold">Government</span>
      </div>
      <div class="flex flex-col place-items-center">
        <img
          src="./../../assets/Travel.svg"
          class="h-24 w-24 p-4 bg-[#13315C] rounded-3xl mb-2"
          alt="Travel"
        />
        <span class="text-[#13315C] font-semibold">Travel</span>
      </div>
    </div>
  </div>
</section>
